<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TodoMVC</title>

  <link rel="stylesheet" href="client/main.css">
</head>
<body>
  <div id="server-content">
    <%- content -%>
  </div>

  <div id="client-content"></div>

  <script src="client/bundle.js"></script>
</body>
</html>
