* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 66%;
  max-width: 550px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  color: #EAD7D7;
  font-size: 3em;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  font-size: 1em;
  font-style: italic;
  padding: 16px;
  border: none;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.2);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.2);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.2);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 16px;
  border-bottom: 1px solid #ededed;

  &:hover .clear-task {
    display: block;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  &:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="8"/></svg>');

    &.checked {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="8"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }
  }
}

.clear-task {
  color: #cc9a9a;
  font-size: 1.5em;
  display: none;
  float: right;

  &:after {
    content: 'x';
  }
}
